h1 {
    color:blueviolet
}

#app-title{
    margin-top: 15px;

}

.movieList{
    margin-top: 15px;
}

#search-bar{
    align-self: center;
}

body {
    background-color:white;
}

#movie-card{
    align-self: center;
}